boby{
    background-color: firebrick;
    font-size: 60px;
}
ul{
    color: blue;
    font-size: 60px;
}
.nav{
    background-color: darkolivegreen;
}
.foot{
    background-color: forestgreen;
}
title1{
    color: darkblue;
    text-align: center;
}
